<form action="/session/create" method="POST" class="form-signin">
    <h2 class="form-signin-heading">Bitte anmelden</h2>

    <% if (flash && flash.err) { %>
    <ul class="alert alert-success">
        <% Object.keys(flash.err).forEach(function (error) { %>
            <li><%- JSON.stringify(flash.err[error]) %></li>
        <% }) %>
    </ul>
    <% } %>


    <input type="text" name="email" class="form-control" placeholder="Email" />
    <input type="password" name="password" class="form-control" placeholder="Passwort" />
    <input type="submit" value="Anmelden" class="btn btn-lg btn-primary btn-block" />

    <input type="hidden" name="_csrf" value="<%= _csrf %>" />

</form>