<form name="newEntryForm" class="inline-form" role="form" ng-submit="newEntryForm.$valid && newEntryCtrl.add()" novalidate>
    <div class="form-group">
        <div class="row">
            <div class="col-sm-3">
                <div class="input-group">
                    <input class="form-control" type="number" name="date" ng-model="newEntryCtrl.day" required min="1" max="31"/>
                    <span class="input-group-addon">.</span>
                    <input class="form-control" type="number" name="date" ng-model="newEntryCtrl.month" required min="1" max="12"/>
                    <span class="input-group-addon">.</span>
                    <input class="form-control" type="number" name="date" ng-model="newEntryCtrl.year" required min="1" max="99"/>
                </div>
            </div>
            <div class="col-sm-3">
                <input class="form-control" type="number" id="new-entry-price" name="price" ng-model="newEntryCtrl.entry.price" required autofocus/>
            </div>
            <div class="col-sm-2">
                <input class="form-control" type="text" name="subject" ng-model="newEntryCtrl.entry.subject"/>
            </div>
            <div class="col-sm-1">
                <div class="toggle-switch toggle-switch-success">
                    <label>
                        <input class="form-control" type="checkbox" name="shared" ng-model="newEntryCtrl.entry.shared"/>

                        <div class="toggle-switch-inner"></div>
                        <div class="toggle-switch-switch"><i class="fa fa-check"></i></div>
                    </label>
                </div>
            </div>
            <div class="col-sm-1">
                <input class="btn btn-primary" type="submit" name="submit" value="+" ng-disabled="!newEntryForm.$valid"/>
            </div>
        </div>
    </div>
</form>