extends layout

block content
  .container
    .alert.alert-warning.loading
      h3.alert-heading Hier wird grade ein bisschen geladen.
      p Einfach noch ein bisschen warten.

block login
  .container
    form(method='post').signin
      if error
        .alert.alert-danger
          h3.alert-heading Nö!
      input(type='text', autofocus, placeholder='Name').form-control
      input(type='password', placeholder='Passwort').form-control
      button(type='submit').btn.btn-primary.btn-lg.btn-block Anmelden